* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    
}

#main-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

/* Style header container */
.header {
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem;
}

.logo-container,
.switch-temp-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 2;    
}

.search-container > form {
    width: 70%;
}

.search-input {
    width: 100%;
}

/* Style Main Content */
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    margin: 0;
}
/* First section */

.first-section-container {
    border: 1px solid green;
    width: 50%;
    min-height: 300px;

}